body {
	background-image: #FFFFFF;
	color: #000000;														
	padding: 50px;													
	font-family: "Times New Roman", Times, serif;
	/*text-shadow: rgba(0,0,0,0.6) 1px 1px 0;*/
}

a {
	color: #999;														
	font-size: 20px;												
	text-decoration: none;									
}

p {
	margin: 20;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-size: 2.0em;												
}

h2 {
	margin: 20;
	font-size: 1.7em;
}

h3 {
	margin: 22;
	font-size: 1.3em;
}